.about {
    position: relative;
    min-height: 100vh;
    width: var(--portfolio-layout-width);
}

.speech-ballon-icon {
    position: absolute;
    border-radius: 0.4em;
    animation: scale-in-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.4s;
}
.speech-ballon-icon i {
    display: block;
    color: var(--sidebar-ballon-icon-color);
}

.about-text-content {
    position: absolute;
    border-radius: 0.4em;
    z-index: 15;
    animation: scale-in-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.4s;
}


.about-text-content h1 {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.about-text-content p {
    color: var(--text-headers-color);
    font-style: italic;
}


@keyframes scale-in-bl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  