.biography-nav {
    width: 100%;
}

.biography-nav ul {
    display: flex;
}

.biography-nav ul li {
    margin-right: 1em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-out;
}

.biography-nav ul li:first-child {
    padding-left: 0;
}

.biography-nav ul li a {
    color: var(--links-base-color);
    font-weight: bold;
    font-size: 1.2em;
}

.biography-nav ul li:hover {
    border-bottom: 2px solid var(--links-hover-color);
}

.biography-nav ul li:hover a {
    color: var(--links-hover-color);
}

.biography-nav ul .selected {
    border-bottom: 2px solid var(--links-active-color);
}

.biography-nav ul .selected a {
    color: var(--links-active-color);
}