.contact-content {
    display: none;
    padding: 1em 0 0 1em;
}

.contact-content h2 {
    text-align: left;
    /* color: var(--biography-text-color) */
}

.contact-content h2 {
    color: rgb(111, 108, 122);
    font-weight: bold;
}

.contact-content span {
    display: flex;
    align-items: center;
    margin-top: 0.4em;
}

.contact-content span p {
    font-size: 1.4em;
    color: rgb(111, 108, 122);
}

.contact-content span i {
    margin-right: 0.4em;
    font-size: 2em;
    color: rgb(111, 108, 122);
}
