.contact-content {
    display: none;
    padding: 1em 0 0 1em;
}

.contact-content h2 {
    text-align: left;
    font-weight: bold;
}

.contact-content span {
    display: flex;
    align-items: center;
    margin-top: 0.4em;
}

.contact-content span p {
    font-size: 1.4em;
    color: var(--text-main-color);
}

.contact-content span i {
    margin-right: 0.4em;
    font-size: 2em;
    color: var(--text-main-color);
}
