.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-card-wrapper {
    width: 100%;
    margin-bottom: 4em;
    overflow: hidden;
}

.portfolio-card-wrapper > header {
    text-align: center;
}

.portfolio-media-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 0.4em;
}

.portfolio-media-background {
    
}

.portfolio-media-background:before {
    display: block;
    content: '';
    padding: 36%;
}

.portfolio-media-background .media-project-background {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-media-background .media-project {
    position: absolute;
    display: block;
    width: 80%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--portfolio-border-images);
    border-radius: 0.4em;
    box-shadow: 0 0 0.6em 0.3em rgba(39, 39, 39, 0.541)
}

.portfolio-text-content {
    width: 100%;
}

.portfolio-text-content .portfolio-links {
    display: flex;
    width: 100%;
}

.portfolio-text-content .portfolio-links a {
    display: block;
    font-size: 1.6em;
    margin-right: 0.4em;;
    color: var(--links-base-color);
    transition: color 0.3s ease-out;
}

.portfolio-text-content .portfolio-links a:hover {
    color: var(--links-hover-color)
}

.portfolio-text-content .portfolio-technology {
    display: flex;
    flex-wrap: wrap;

}

.portfolio-technology section > p {
    font-size: 1.1em;
}

.portfolio-text-content .portfolio-technology section:nth-child(1) {

}

.portfolio-text-content .portfolio-technology section:nth-child(1) h2 {
    /* font-size: 2.8em; */
    font-weight: bold;
}

.portfolio-text-content .portfolio-technology section:nth-child(1) p {

    color: var(--text-main-color)
}

.portfolio-text-content .portfolio-technology section:nth-child(2) {
    padding: 1em 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.portfolio-text-content .portfolio-technology span {
    display: block;
}

.portfolio-text-content .portfolio-technology span i {
    color: var(--text-headers-color);
    font-size: 3em;
}

.portfolio-text-content .portfolio-technology h4 {
    color: var(--text-headers-color);
    font-weight: bold;
    margin-left: 0.4em;
    /* font-size: 2em; */
}

.portfolio-text-content .portfolio-technology ul {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-text-content .portfolio-technology ul li {
    padding: 0.2em 1em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 0.2em;
    background-color: var(--text-main-background-color);
    transition: background-color 0.3s ease-out;
}

.portfolio-text-content .portfolio-technology ul li p {
    font-size: 1.2em;
    color: var(--text--secondary-color);
}