.portfolio-nav {
    position: fixed;
    top: 50%; left: 88%;
    transform: translate(0, -50%);
    z-index: 1000;
}

.portfolio-nav ul {
    display: flex;
    width: 2em;
    flex-wrap: wrap;
}

.portfolio-nav ul li {
    background-color: var(--portfolio-links-base-color);
    width: 2em;
    height: 2em;
    margin-top: 1em;
    transition: background-color 0.3s ease-out;
}

.portfolio-nav ul li:hover {
    cursor: pointer;
    background-color: var(--portfolio-links-hover-color);
}

.portfolio-nav ul .selected {
    background-color: var(--portfolio-links-selected-color);
};