.portfolio {
    width: var(--portfolio-layout-width);
    padding: 0;
}

.portfolio-content {
    /* padding: 0 28em; */
}

.portfolio-content header {
    display: block;
    width: 100%;
    padding-left: 4em;
    padding: 2em 0;
}

.portfolio-content header h1 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 1em;
    color: rgb(65, 55, 112);
    transition: color 0.3s ease-out;

}

.portfolio-content header h1:hover {
    cursor: pointer;
    color: rgb(168, 141, 92);
}

.portfolio-content header h1 span {

}
