.sidebar-content {
    position: fixed;
    top: 0; left: var(--sidebar-content-position-left);
    display: flex;
    height: 100vh;
    background: grey;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--sidebar-background-color);
    border-left: 1px solid rgb(46, 46, 46);
}

.sidebar .sidebar-pages,
.sidebar .sidebar-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar .sidebar-pages li,
.sidebar .sidebar-contacts li {
    display: block;
    width: 100%;
    background: var(--sidebar-background-color)
    
}

.sidebar .sidebar-pages li a,
.sidebar .sidebar-contacts li a {
    display: block;
    width: 100%;
    text-align: center;
}

.sidebar .sidebar-pages li a i,
.sidebar .sidebar-contacts li a i {
   font-size: 2.6em;
   transition: color 0.3s ease-out;
}

.sidebar .sidebar-pages {
    align-content: flex-start;
}

.sidebar .sidebar-pages li {
    border-bottom: 1px solid rgb(46, 46, 46);
}

.sidebar .sidebar-pages li a {
    background-color: rgb(10, 10, 10);
    transition: background-color 0.3s ease-out;
}

.sidebar .sidebar-pages li a i {
    padding: 0.3em 0;
    display: block;
    color: rgb(63, 63, 63);
}

.sidebar .sidebar-pages li .active {
    background: rgb(100, 100, 119);
}

.sidebar .sidebar-pages li .active i {
    color: rgb(223, 200, 157);
}

.sidebar .sidebar-pages li:hover a {
    background: rgb(80, 80, 95);
}

.sidebar .sidebar-pages li:hover a i {
    color: rgb(189, 173, 144);
}
/* ----------------------------- */

.sidebar .sidebar-pages li:last-child {
    display: none;
}

.sidebar .sidebar-pages li:last-child .active {
    background-color: rgb(10, 10, 10);
}

.sidebar .sidebar-pages li:last-child .active i {
    color: rgb(163, 0, 0)
}

.sidebar .sidebar-pages li:last-child:hover a {
    background-color: rgb(10, 10, 10);
}

.sidebar .sidebar-pages li:last-child:hover a i {
    color: rgb(131, 1, 1)
}

/* ------------------------  */

.sidebar .sidebar-contacts {
    padding-bottom: 1em;
    align-content: flex-end;
}

.sidebar .sidebar-contacts li {
    
}

.sidebar .sidebar-contacts li a {
    padding: 0.8em 0;
}

.sidebar .sidebar-contacts li a i {
    color: rgb(63, 63, 63);
}

.sidebar .sidebar-contacts li a:hover i {
    color: rgb(223, 200, 157);
}

.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        left: -26em
    }
    100% {
        left: 0;
    }
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
    0% {
        left: 0
    }
    100% {
        left: -26em;
    }
}