.sidebar-content {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    height: var(--sidebar-content-height);
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    /* 4em width */
    width: var(--sidebar-width);
    background: var(--sidebar-background-color);
    border-left: 1px solid var( --sidebar-border-color);
}

.sidebar .sidebar-pages,
.sidebar .sidebar-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar .sidebar-pages li,
.sidebar .sidebar-contacts li {
    display: block;
    width: 100%;
}

.sidebar .sidebar-pages li a,
.sidebar .sidebar-contacts li a {
    display: block;
    width: 100%;
    text-align: center;
}

.sidebar .sidebar-pages li a i,
.sidebar .sidebar-contacts li a i {
   font-size: 2.6em;
   transition: color 0.3s ease-out;
}

/* SIDEBAR-PAGES NAVIGATION STYLES*/

.sidebar .sidebar-pages {
    align-content: flex-start;
}

.sidebar .sidebar-pages li {
    border-bottom: 1px solid var(--sidebar-border-color);
}

.sidebar .sidebar-pages li a {
    transition: background-color 0.3s ease-out;
}

.sidebar .sidebar-pages li a i {
    padding: 0.3em 0;
    display: block;
    color: var(--sidebar-base-button-inner-color);
}

.sidebar .sidebar-pages li .active {
    background: var(--sidebar-active-button-outer-color);
}

.sidebar .sidebar-pages li .active i {
    color: var(--sidebar-active-button-inner-color);
}

.sidebar .sidebar-pages li:hover a {
    background: var(--sidebar-hover-button-outer-color);
}

.sidebar .sidebar-pages li:hover a i {
    color: var(--sidebar-hover-button-inner-color);
}

.sidebar .sidebar-pages li:last-child {
    display: none;
}

.sidebar .sidebar-pages li:last-child .active {
    background-color: var(--danger-button-backgorund-color);
}

.sidebar .sidebar-pages li:last-child .active i {
    color: var(--danger-active-buttons-color);
}

.sidebar .sidebar-pages li:last-child:hover a i {
    color: var(--danger-hover-buttons-color);
}

/* SIDEBAR-CONTACTS NAVIGATION STYLES*/

.sidebar .sidebar-contacts {
    padding-bottom: 1em;
    align-content: flex-end;
}

.sidebar .sidebar-contacts li a {
    padding: 0.8em 0;
}

.sidebar .sidebar-contacts li a i {
    color: var(--sidebar-base-button-inner-color)
}

.sidebar .sidebar-contacts li a:hover i {
    color: var(--sidebar-hover-button-inner-color);
}


/* ANIMATIONS */

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        left: calc(var(--sidebar-content-position-left) + var(--sidebar-width));
    }
    100% {
        left: 0;
    }
}

@keyframes slide-in-right {
    0% {
        left: 0;
    }
    100% {
        left: calc(var(--sidebar-content-position-left) + var(--sidebar-width));
    }
}



.slide-in-left-desktop {
    animation: slide-in-left-desktop 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

.slide-in-right-desktop {
    animation: slide-in-right-desktop 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left-desktop {
    0% {
        left: -26em;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-in-right-desktop {
    0% {
        left: 0;
    }
    100% {
        left: -26em;
    }
}

