:root {
    --main-layout-width: 100vw;

    --sidebar-width: 4em;
    /* --sidebar-background-color: rgb(126, 126, 126); */
    --sidebar-background-color: rgb(10, 10, 10);
    --sidebar-border-color: rgb(73, 73, 73);
    
    --sidebar-content-position-left: -26em;

    --biography-layout-width: 20%; 
    --biography-background-color: rgb(10, 10, 10);
    --biography-text-color: rgb(145, 145, 145);

    --portfolio-layout-width: 100%;
    --portfolio-layout-background-color: rgb(15, 15, 15);
    --portfolio-wrapper-height: 90%;
    --portfolio-content-header-height : 10%
}